<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <style>
        #category-rating-chart, #category-osc-chart, #category-osr-chart {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="category-detail-table-container">
        <table>
            <tr><th>Id</th><td></td></tr>
            <tr><th>Name</th><td></td></tr>
            <tr><th>Product count</th><td></td></tr>
            <tr><th>Rating count</th><td></td></tr>
            <tr><th>Rating avg</th><td></td></tr>
            <tr><th>Unique buyers count</th><td></td></tr>
            <tr><th>Reorder rate</th><td></td></tr>

        </table>
    </div>
    <div id="category-rating-chart-container">
        <div id="category-rating-chart"></div>
    </div>
    <div id="category-osc-chart-container">
        <div id="category-osc-chart"></div>
    </div>
    <div id="category-osr-chart-container">
        <div id="category-osr-chart"></div>
    </div>
    <script th:inline="javascript">
        const categoryId = [[${categoryId}]]
    </script>
    <script th:src="@{/js/analytic-category-detail.js}"></script>
    <script th:src="@{/js/render-chart.js}"></script>
    <a th:href="@{/analytics/category}">
        <button type="button">Back</button>
    </a>
</body>
</html>