<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product detail analytics</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <style>
        #product-rating-chart, #product-osc-chart, #product-osr-chart {
            width: 100%;
            height: 500px;
        }
    </style>

</head>
<body>

    <div id="product-detail-table-container"></div>
    <div id="product-rating-chart-container">
        <div id="product-rating-chart"></div>
    </div>
    <div id="product-osc-chart-container">
        <div id="product-osc-chart"></div>
    </div>
    <div id="product-osr-chart-container">
        <div id="product-osr-chart"></div>
    </div>
    <script th:inline="javascript">
        const productId = [[${productId}]]
    </script>
    <script th:src="@{/js/analytic-product-detail.js}"></script>
    <script th:src="@{/js/render-chart.js}"></script>
    <a th:href="@{/analytics/product}">
        <button type="button">Back</button>
    </a>
</body>
</html>